.addNote{
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/008/717/non_2x/abstract-modern-light-pink-wave-element-on-white-background-with-space-for-your-text-vector.jpg");
    background-position: cover;
    background-attachment: fixed;
}