@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.tour {
    text-decoration: none;
    border-radius: 30px;
    background-color: transparent;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #ff3399 2px;
    text-decoration: none;
    color: #ff3399;
}
.tour:hover {
    background: #ff3399;
    text-decoration: none;
    color: white;
}