.main_note {
    text-align: center;
    margin: 20px;
    border: 0 solid #000;
    box-shadow: 5px 5px 5px 2px #f1eeee;
    width: 400px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.title {
    /* align-items: center; */
    border: none;
    font-size: 40px;
    width: 300px;
    padding: 20px;
    outline: none;
    text-align: start;
}

.subject {
    align-items: center;
    border: none;
    font-size: large;
    width: 300px;
    padding: 20px;
    outline: none;
    text-align: start;
}

.plus_sign {
    margin: 10px;
    color: rgb(241, 93, 185);
}